In [1]:
import pandas as pd

In [54]:
schema = pd.read_csv('Data/schema.txt', engine='python', names=['col'])
schema['ColumnID'] = schema['col'].str.split().apply(lambda x: x[0])
schema['ColumnName'] = schema['col'].str.split().apply(lambda x: x[1])
schema['DataType'] = schema['col'].str.split().apply(lambda x: x[2])
schema['Signed/Unsigned'] = schema['col'].str.split().apply(lambda x: x[3])
schema['Criteria1'] = schema['col'].str.split().apply(lambda x: x[4])
schema['Criteria2'] = schema['col'].str.split().apply(lambda x: x[-1])
del (schema['col'])

In [57]:
schema['ColumnName']

0                 id
1             userId
2          createdAt
3               text
4          longitude
5           latitude
6            placeId
7          inReplyTo
8             source
9          truncated
10     placeLatitude
11    placeLongitude
12        sourceName
13         sourceUrl
14          userName
15        screenName
16    followersCount
17      friendsCount
18     statusesCount
19      userLocation
Name: ColumnName, dtype: object

In [61]:
sample_tweets = pd.read_excel('Data/sample.tsv.xlsx',header=None)
sample_tweets.columns = list(schema['ColumnName'])
sample_tweets.head()

,id,userId,createdAt,text,longitude,latitude,placeId,inReplyTo,source,truncated,placeLatitude,placeLongitude,sourceName,sourceUrl,userName,screenName,followersCount,friendsCount,statusesCount,userLocation
0,776522983837954049,735449229028675584,2016-09-15 20:48:01,se lo dici tu... https://t.co/x7Qm1VHBKL,\N,\N,51c0e6b24c64e54e,\N,1.0, ,46.0027,8.96044,Twitter for iPhone,http://twitter.com/#!/download/iphone,plvtone filiae.,hazel_chb,146,110.0,28621.0,Earleen.
1,776523000636203010,2741685639,2016-09-15 20:48:05,https://t.co/noYrTnqmg9,\N,\N,4e7c21fd2af027c6,\N,1.0, ,46.8131,8.22414,Twitter for iPhone,http://twitter.com/#!/download/iphone,samara,letisieg,755,2037.0,3771.0,Suisse
2,776523045200691200,435239151,2016-09-15 20:48:15,@BesacTof @Leonid_CCCP Tu dois t'engager en si...,\N,\N,12eb9b254faf37a3,776522113859608576,5.0, ,47.201,5.94082,Twitter for Android,http://twitter.com/download/android,lebrübrü❤,lebrubru,811,595.0,30191.0,Fontain
3,776523058404290560,503244217,2016-09-15 20:48:18,@Mno0or_Abyat اشوف مظاهرات على قانون العمل الج...,\N,\N,30bcd7f767b4041e,776521597515624448,1.0, ,45.8011,6.16552,Twitter for iPhone,http://twitter.com/#!/download/iphone,عبدالله القنيص,bingnais,28433,417.0,12262.0,Shargeyah
4,776523058504925185,452805259,2016-09-15 20:48:18,Greek night #geneve (@ Emilios in Genève) http...,6.14414,46.1966,c3a6437e1b1a726d,\N,3.0, ,46.2048,6.14319,foursquare,http://foursquare.com,Alkan Şenli,Alkanoli,204,172.0,3390.0,İstanbul/Burgazada

In [58]:
sample_tweets.shape

(9763, 20)

In [ ]:
sample_tweets[]